

body {

      background-color: rgb(233, 132, 166);

}

h1 {

    text-align: center

}

p {


    text-align: center;
}

  #missao {


    font-size: 20px

  }


strong {

    color: rgb(250, 242, 247);
}