body {

    background-color: rgb(223, 145, 190);
}


#taytay {


width: 50%;
align:"middle";


}






h1 {

    text-align: center;
}


p {

    text-align: center;
}


#missao {

font-size: 20px;

}


em strong {

color: rgb(249, 252, 255);

}