body {

    background-color: rgba(241, 241, 241, 0.89);
}


.taytay {

        text-align: center;
        border: 2px solid;
        color: aliceblue;
      }

.taytay img{
    width: 30%;
    align-self: center;
    text-align: center;

}

.flower {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
   
}



h1 {

    text-align: center;
}


p {

    text-align: center;
}


#taytay {

font-size: 50px;

}


em strong {

color: rgb(177, 68, 199)

}


 p {
color: rgb(184, 52, 151);
}


h1{

color: rgb(182, 62, 230);
}



h2 {

    color: rgb(182, 62, 230);
}

.taytay{

background-color: rgb(182, 85, 177));

}